@import 'tailwindcss';
@import 'flowbite';

section{
  width: 80%;
}
.marquee{
  width: 50%;
  overflow: hidden;
  position: relative;
}
.marquee-box{
  animation: marquee 60s liner infinite
}
.marquee-items{
  float:left
}