
.course-card {
  margin: 1rem auto;
}


@media screen and (max-width: 480px) {
  .course-card {
    flex-direction: column;
  }
  .course_op_card{
         display: flex;
         flex-direction: column;
  }
  .course_options{
         border: none;
         display: flex;
         padding: 0px;
        flex-wrap: wrap;
         
  }
  .course-card .p-6 {
    width: 100%;
    order: 2;
  }
  .course-card .flex-1 {
    order: 1;
  }
  .course-card .pt-4 {
    order: 3;
  }
  .amount{
    padding: 0px;
    
  }
}
