/* Custom Footer Tweaks */
#site-footer {
  word-wrap: break-word;
}
.Footer_container{
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

/* Tablet */
@media (max-width: 768px) {
  #site-footer .footer-col {
    text-align: center !important;
    padding-bottom: 1.5rem;
  }

  #site-footer .footer-col ul {
    padding-left: 0;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .CompanyName{
    
     color: #fff;
    font-weight: bold;
     text-align: left;
     height: 31px;
     width: 100%;
      margin-bottom: 16px;
      font-size: 24px;
  }
  .footer_content{
    text-align: left;
  }
  #site-footer {
    padding: 2rem 1rem;
  }

  #site-footer .footer-col {
    margin-bottom: 2rem;
  }

  #site-footer .footer-col h4 {
    font-size: 1.1rem;
  }

  #site-footer .footer-col p,
  #site-footer .footer-col ul li a {
    font-size: 0.9rem;
  }
  .Footer_container{
    flex-direction: row;
    
  }
  ul{
    text-align: left;
  }
  .footer_heading{
          text-align: left;
          width: 70%;
          border-bottom: 2px solid #fff;
  }
  .footer-contact h4{
    width: 28%;
    text-align: left;
    border-bottom: 2px solid #fff;
  }
  .footer-contact p {
  text-align: left;
  margin-top: 10px;
  color: #ffffff;
}
.footer_icons{
  
  display: none;
}
}
